.safehome-container {
    background: linear-gradient(to bottom, rgba(242,159,180,255), #ebc0c0);
    width: 100%;
    height: 100vh;
    padding-top: -10%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

/* Línea Divisoria Vertical */
.safehome-container::before {
    content: "";
    position: absolute;
    top: 10%; /* Deja un espacio en la parte superior */
    bottom: 10%; /* Deja un espacio en la parte inferior */
    left: 50%; /* Centra la línea */
    width: 2px; /* Ancho de la línea */
    background-color: #FFFFFF; /* Color blanco */
    transform: translateX(-50%); /* Centrar exactamente en el medio */
    z-index: 0; /* Asegura que la línea esté en el fondo */
}

/* Columnas Izquierda y Derecha */
.safehome-left, .safehome-right {
    width: 45%; /* Cada lado ocupa un 45% para dar espacio a la línea */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
}
.safehome-question{
    color: white;
}
/* Ajustes de la Imagen */
.safehome-left img {
    width: 60%;
    max-width: 300px;
    height: auto;
}

/* Categorías de Botones */
.safehome-categories {
    display: flex;
    justify-content: space-around;
    gap: 70px;
}

.safehome-category-column {
    display: flex;
    flex-direction: column;
    gap: 45px;
    text-align: center;
}

.safehome-category-btn {
    background-color: #FFFFFF; /* Fondo blanco */
    padding: 12px 24px; /* Ajusta el padding para un tamaño adecuado */
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #f4acd0; /* Color de texto rosado */
    cursor: pointer;
    transition: all 0.3s ease;
}

.safehome-category-btn:hover {
    background-color: #f76bb1; /* Fondo rosado al hacer hover */
    color: #FFFFFF; /* Texto blanco al hacer hover */
}

/* Botón de Emergencia */
.safehome-emergency-btn {
    position: absolute;
    bottom: 40px;
    left: 30px;
    background-color: #fca6d1; /* Rosa oscuro */
    color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(245, 109, 132, 0.5);
    border: none;
    width: 140px; /* Ajusta el valor según tus necesidades */
    height: 140px; /* Ajusta el valor según tus necesidades */
    border-radius: 50%; /* Cambia a 50% */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* Agrega esto */
    justify-content: center;
    align-items: center;
}
.safehome-emergency-btn:hover {
    background-color: #ffffff; /* Cambia a blanco al hacer hover */
    color: #ffd1dc; /* Cambia el texto a rosa claro */
    box-shadow: 0px 4px 12px rgba(245, 109, 132, 0.7); /* Sombra más oscura al hacer hover */
  }


.safehome-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}