/* Chat container */
.chat-container {
    background-color: #F29FB3;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
  }
  
  /* Chat header */
  .chat-header {
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
  }
  
  .chat-header h2 {
    font-size: 2rem;
    font-weight: normal;
  }
  
  /* Chat messages section */
  .chat-messages {
    background-color: #ffffff;
    width: 100%;
    max-width: 600px;
    border-radius: 1rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .message-right {
    align-items: flex-end;
  }
  
  .message-sender {
    font-size: 0.9rem;
    color: rgb(103, 103, 103);
    font-weight: bold;
    margin-bottom: 0.3rem;
  }
  
  .message-bubble {
    background-color: #cde7ff;
    color: #494949;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    max-width: 75%;
    text-align: left;
  }
  
  .message-right .message-bubble {
    background-color: #f2c7d7;
  }
  
  /* Chat input section */
  .chat-input-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-top: 1.5rem;
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .chat-input {
    flex-grow: 1;
    border: none;
    font-size: 1rem;
    padding-left: 1rem;
  }

  .chat-input:focus-visible {
    outline: none;

  }
  
  .send-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #f2c7d7;
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .send-button:hover {
    color: #ec94ad;
  }
  
  /* Bunny icon */
  .bunny-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 130px;
  }
  