/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #f8e3e7;
}

footer .subscribe, footer .follow-us {
  color: #333;
}

footer input[type="email"] {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

footer .social-icons a {
  margin-right: 10px;
  color: #ff7a85;
  font-size: 1.5em;
  text-decoration: none;
}
