/* Footer */
.landingfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #f29fb3;
  text-align: center; /* Centra el texto */
}

.landingfooter .subscribe,
.landingfooter .follow-us,
.landingfooter .contact-info {
  color: white;
  margin-bottom: 20px; /* Agrega espacio entre los elementos */
}
.landingfooter h3 {
  font-size: 28px; /* Aumenta el tamaño de fuente de los títulos */
  font-weight: 500;
  margin-bottom: 20px; /* Agrega espacio entre los títulos y el contenido */
}
.landingfooter input[type="email"] {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
}
.landingplaceholder {
  color: #d5999f;
}
.landingfooter .social-icons {
  display: flex;
  justify-content: space-around; /* Centra los iconos horizontalmente */
}

.landingfooter .social-icons img {
  width: 50px; /* Establece el ancho de las imágenes */
  height: 50px; /* Establece la altura de las imágenes */
  margin: 0 10px; /* Agrega espacio entre los iconos */
}
