.landingfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 40px;
  background: linear-gradient(to top, rgba(242,159,180,255), #ebc0c0);
  text-align: center;
}

.landingfooter .subscribe,
.landingfooter .follow-us,
.landingfooter .contact-info {
  color: white;
  margin-bottom: 20px;
}
.landingfooter h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.landingfooter input[type="email"] {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}
.landingplaceholder {
  color: #d5999f;
}
.landingfooter .social-icons {
  display: flex;
  justify-content: space-around;
}

.landingfooter .social-icons img {
  width: 50px;
  height: 50px;
  margin: 0 10px; 
}
