/* Hero section */
.hero {
  text-align: left justify;
  padding: 100px 20px;
  padding-bottom: 150px;
  background: linear-gradient(to bottom, rgba(242,159,180,255), #ebc0c0);/*color para vistas
  color: #fff;
  position: relative; /* Agrega posición relativa para absoluta */
}

.hero h1 {
  font-size: 3em;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 70px;
  color: #fff;
}

.hero p {
  max-width: 600px; /* Ajusta el ancho máximo del párrafo para una mejor lectura */
  margin-left: 50px; /* Alineado a la izquierda */
  padding: 20px;
  color: #ffffff;
  margin-bottom: 40px;
  text-align: justify; /* Justificación del texto */
  line-height: 1.5; /* Espaciado entre líneas para mejorar la legibilidad */
  font-size: 17px; /* Tamaño de fuente */
}

.hero-images {
  position: absolute; /* Posición absoluta para colocar sobre la elipse */
  top: 50%; /* Ajusta la posición vertical */
  right: 0; /* Ajusta la posición horizontal */
  margin-right: 140px;
  transform: translateY(-60%); /* Ajusta la posición vertical */
}

.hero-ellipse {
  width: 350px; /* Ajusta el ancho de la elipse */
  height: 410px; /* Ajusta la altura de la elipse */
  border-radius: 10%; /* Hace la elipse circular */
  z-index: 1; /* Ajusta el orden de apilamiento */
}

.hero-character {
  position: absolute; /* Posición absoluta para colocar sobre la elipse */
  top: 0%; /* Ajusta la posición vertical */
  left: 50%; /* Ajusta la posición horizontal */
  transform: translateX(-60%); /* Ajusta la posición horizontal */
  width: 450px; /* Ajusta el ancho del personaje */
  z-index: 2; /* Ajusta el orden de apilamiento */
}