/* Header */
.landingHeader {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos del header */
  padding: 30px;
  background-color: #f29fb4;
  justify-content: space-between; /* Distribuye los elementos en el eje principal */
  cursor: pointer;
}

.landingLogo {
  width: 300px; 
  height: 100px; 
  object-fit: contain; 
  margin-right: 20px;
}

/* .landingMenuContainer {
  display: flex;
  align-items: center;
} */

.landingMenu {
  display: flex;
  gap: 15px; /* Espacio entre los enlaces */
}

.landingRegisterOptions {
  display: flex;
  gap: 15px; /* Espacio entre los enlaces */
  flex-grow: 1;
  justify-content: flex-end;
}

.landingMenu a, .landingRegisterOptions a {
  color: white; 
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px; 
  border-radius: 20px; 
  transition: background-color 0.3s, color 0.3s; 
}

.landingMenu a:hover, .landingRegisterOptions a:hover {
  background-color: white; 
  color: #fdbec8; 
}
.landingRegisterOptions a.active {
  background-color: white;
  color: #fdbec8;
}