.container-assistant-component {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  z-index: 1000;
}
.assistant-image-component {
  width: 120px;
  height: 120px;
  
  margin-top: -10px;
}
.assistant-image-component img {
  transform: scaleX(-1); 
}

.assistant-message-component {
  background-color: #F5BABA; 
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px 20px 0 20px; 
  max-width: 200px; 
  display: inline-block;
  position: relative;
  margin: -50px 102px;
  text-align: center;
}