.container-menu {
  font-weight: bold;
  background-color: #f29fb4;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0.2%; /* Añade un poco de espacio interno */
  width: 100%;
  top: 0;
  left: 0;
  font-size: 1.2em; 
  color: white;
}
.container-menu-logo{/*PROVISIONAL DEL TAMAÑO PARA EL LOGO*/
  margin-left: 5px;
  width: 180px;
  height: 100px;  
}
.container-menu-theme{
  margin-right: 25%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 40px; /* Espacio entre los elementos internos */
}
.menu-theme-quiz, .menu-theme-paths, .menu-theme-safeZone {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.menu-theme-quiz:hover, .menu-theme-paths:hover, .menu-theme-safeZone:hover {
  background-color: rgba(255, 254, 254, 0.5);
  border-radius: 20px;
}

.selected {
  background-color: white;
  color: #F29FB3;
  border-radius: 5px;
}
.container-menu-perfil{
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos internos */
}
.container-menu-perfil-name{
  font-weight: bold;
}
.container-menu-perfil-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
}
.menu-perfil-avatar{
  width: 35px;
}
.menu-dropdown{
  position: absolute;
  top: 60px;
  right: 30px;
  background-color: #F29FB3;
  border: 1px solid #F29FB3;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-dropdown li:not(:last-child) {
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}
.menu-dropdown li:hover {
  background-color: rgba(89, 95, 82, 0.2);
  color: #fff;
  border-radius: 20px;
}
.menu-dropdown a {
  text-decoration: none;
  color: white;
}
.arrow-menu{
  color: black;
}
.menu-perfil-search{
  margin-top: 4px;
  background-color: #F3D2D2;
  border-radius: 10px;
  padding: 5px 15px;
  margin-right: 50px;
  cursor: pointer;
  color: white;
}