/* Contenedor principal */
.container-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  /* padding: 20px; */
}
/* Sección de menú */
.container-progress-menu {
  width: 100%;
}
.container-progress-title{
  margin-top: 2%;
  font-size: 1.5em;
  color: white;
}
.container-progress-profileStat{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 50px;
  width: 90%;
  justify-content: center;
}

/* Sección de perfil */
.progress-profile-section {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 180px;
  margin-bottom: 20px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.progress-profile-name {
  font-size: 18px;
  margin-top: 10px;
  /* color: #333; */
}

.progress-edit-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  color: #333;
}

/* Sección de estadísticas */
.progress-stats-section {
  display: flex;
  justify-content: space-around;
  width: 70%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.progress-stat-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-stat-value {
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-stat-label {
  font-size: 1.5em;
  color: white;
}

/* Sección de logros */
.progress-achievements-section {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 20px;
}

.progress-unlocked, .progress-upcoming {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  width: 45%;
}

.progress-avatars {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-top: 10px;
}

.progress-avatars img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.progress-blocked {
  opacity: 0.3; /* Aparece bloqueado */
}





































/* .container-progress{
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-progress-menu{
  width: 100%;
}
.container-progress-all{
  display: flex;
  width: 90%;
  height: 100vh;
  justify-content: space-between;
  margin-top: 20px;
}
.container-progress-avatar{
  width: 15%;
  height: 25vh;
  background-color: white;
  border-radius: 20px;
  position: relative;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}
.progress-avatar{
  width: 120px;
  height: 120px;
  margin-top: 10px;
}
.container-progress-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-progress-points{
  display: flex;
  width: 65%;
  height: 40vh;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #E699AC;
}
.progress-points{
  border: 1px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.container-progress-unlocked{
    display: flex;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: center;
    background-color: aqua;
} */