.container-quizQuestion{
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-quiz-menu{
  width: 100%;
}
.container-title{
  font-size: 1.6em;
  margin-top: 1%;
}
.container-quizQuestion-star {
  width: 60%;
  min-height: 500px; /* Altura mínima para un tamaño base del contenedor */
  margin: 5%;
  background-color: #F3D2D2;
  color: #CC8E8E;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;

}
.container-quizQuestion-title{
  font-size: 1.5em;
  width: 90%;
  margin: 5%;
  color: #CC8E8E;
  border-radius: 10px; 
}
.container-quizQuestion-question{
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: 5%;
  padding: 10%;
  margin-top: -10%;
  font-size: 1.5em;
  overflow: hidden;

}
.container-quizQuestion-button{
  display: flex;
  justify-content: end;
  margin-top: 10%;
  margin-bottom: -10%;
  flex-wrap: wrap;
}
.quizQuestion-button-next svg, .quizQuestion-button-leave svg {
  font-size: 1.2em; /* Ajusta el tamaño del icono */
}
.quizQuestion-button-next, .quizQuestion-button-leave{
  background-color: #CADBF3;
  border-radius: 20px;
  height: 6vh;
  font-size: 1.4em;
  border: none;
  color: white;
  margin-right: 30px;
  cursor: pointer;
}
 
.modalQuiz-button{
  background-color: #CADBF3;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}
.quiz-radio{
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  background-color: #fff; 
  border: 2px solid #CADBF3; 
  cursor: pointer;
  margin-right: 10px;
}

.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #C8B6FF;
  animation: text_713 3.5s ease both infinite;
  font-size: .8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #9A79FF;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #D1C2FF;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
