.container-quiz{
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-quiz-menu{
  width: 100%;
}
.quizQuestion-titleComponent{
  color: white;
}
.container-quiz-title{
  font-size: 1.6em;
  margin-top: 1%;
  color: white;
}
.container-quiz-star{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  font-size: 2em;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}
.button-quiz-star{
  font-size: 0.8em;
  border-radius: 8px;
  padding: 5px 15px;
  transform: translateY(60%);
  cursor: pointer;
  background-color: #FFDADA;
  color: #E6889F;
  border: none;
}
.button-quiz-if{
  font-size: 0.8em;
  border-radius: 8px;
  padding: 5px 15px;
  transform: translateY(60%);
  cursor: pointer;
  background-color: #FFDADA;
  color: #E6889F;
  border: none;
}

.container-quiz-star div {
  width: 30%;
  height: 48vh;
  justify-content: space-between;
  margin: 15px;
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.quiz-star-know{
  background-color: #FBF8EF;
  display: flex;
  flex-direction: column;
  color: #CC8E8E;
  font-size: 0.8em;
}
.quiz-link{
  color: #E6889F;
  text-decoration: none;
}