.container-quizQuestion{
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-quiz-menu{
  width: 100%;
}
.container-quizQuestion-star{
  height: 60vh;
  width: 60%;
  margin: 5%;
  background-color: #F3D2D2;
  color: #CC8E8E;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-top: 30px;
}
.container-quizQuestion-title{
  font-size: 1.5em;
  width: 90%;
  margin: 5%;
  color: #CC8E8E;
  border-radius: 10px; 
}
.container-quizQuestion-question{
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: 5%;
  padding: 10%;
  /* background-color: antiquewhite; */
  margin-top: -10%;
  font-size: 1.5em;
}
.container-quizQuestion-button{
  display: flex;
  /* position: relative; */
  justify-content: end;
  margin-top: 10%;
  margin-bottom: -10%;
}
.quizQuestion-button-next, .quizQuestion-button-leave{
  background-color: #CADBF3;
  border-radius: 20px;
  width: 25%;
  height: 6vh;
  font-size: 1.4em;
  border: none;
  color: white;
  margin-right: 30px;
  cursor: pointer;
}
 
.modalQuiz-button{
  background-color: #CADBF3;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}
