/* Fondo de la página */
/* body {
  overflow: hidden;
  position: relative;
} */

/* Fondo del formulario */
/* .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
  background-color: #FFCFDC;
  padding: 10% 40%; *
  position: relative; /* Mantener su posición */
  /* z-index: 1; /*Asegura que las estrellas estén detrás */
/* } */
/* Estilo de los inputs y el botón */
/* #email-login, #password-login {
  display: block;
  width: 350%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #661D90;
  font-size: 2.5em;
  margin-bottom: 5%;
  background-color: transparent;
  text-align: center;
  border-radius: 20px;
}
  
.button-form-login {
  background-color: #A5E0E1;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2.5em;
  margin-top: 10%;
}
  
.label-email-login, .label-password-login {
  font-size: 3em;
} */

/* Estilos para las estrellas */
/* .star {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 2s infinite ease-in-out;
}

@keyframes twinkle {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
} */
