.register-button-submit {
  width: 100%;
  background-color: #cadbf3;
  color: white;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 18px;
}

.blob-wrapper:hover .change {
  fill: rgb(255 246 229);
  stroke: white;
  cursor: pointer;
}

.blob-wrapper.assistant-selected .change {
  fill: #c9d6f7;
  stroke: #5787ff;
}

.main-content {
  position: relative;
}

.main-content::after {
  content: "";
  width: 233px;
  height: 100%;
  background-color: red;
  position: absolute;
  left: -170px;
  top: 0;
  background: url("src/assets/RegisterPage/wave-register.png") no-repeat;
  background-size: contain;
}
